<div class="container-modal">
    <div class="row">
        <mat-card class="memo" appearance="outlined">
            <mat-card-header>
              <div mat-card-avatar class="memoimg"></div>
              <mat-card-title  class="nm">Normativa</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Img/memorandum-2.webp"  class="imgmemos">
            <mat-card-actions>
              <button mat-raised-button  class="memos"><i class="bi bi-download"></i>Descargar</button>
            </mat-card-actions>
          </mat-card>

          <mat-card class="memo" appearance="outlined">
            <mat-card-header>
              <div mat-card-avatar class="memoimg"></div>
              <mat-card-title  class="pm">Permiso</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Img/memorandum-2.webp"  class="imgmemos">
            <mat-card-actions>
              <button mat-raised-button  class="memos"><i class="bi bi-download"></i>Descargar</button>
            </mat-card-actions>
          </mat-card>

          <mat-card class="memo" appearance="outlined">
            <mat-card-header>
              <div mat-card-avatar class="memoimg"></div>
              <mat-card-title  class="pe">Permiso Extendido</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Img/memorandum-2.webp"  class="imgmemos">
            <mat-card-actions>
              <button mat-raised-button  class="memos"><i class="bi bi-download"></i>Descargar</button>
            </mat-card-actions>
          </mat-card>

          <mat-card class="memo" appearance="outlined">
            <mat-card-header>
              <div mat-card-avatar class="memoimg"></div>
              <mat-card-title  class="rg">Reglamento</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Img/memorandum-2.webp"  class="imgmemos">
            <mat-card-actions>
              <button mat-raised-button  class="memos"><i class="bi bi-download"></i>Descargar</button>
            </mat-card-actions>
          </mat-card>

          <mat-card class="memo" appearance="outlined">
            <mat-card-header>
              <div mat-card-avatar class="memoimg"></div>
              <mat-card-title  class="rt">Retardo de trabajador</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Img/memorandum-2.webp"  class="imgmemos">
            <mat-card-actions>
              <button mat-raised-button  class="memos"><i class="bi bi-download"></i>Descargar</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>