<h2 mat-dialog-title class="titulo-caja">Descargar Punto de Información</h2>
<mat-dialog-actions>
 <button mat-button mat-dialog-close cdkFocusInitial class="cierre"><i class="bi bi-x-circle"></i></button> 
</mat-dialog-actions>
<mat-dialog-content class="caja-text">
  Formatos de descarga
</mat-dialog-content>
<mat-dialog-actions>
  <a href="../../../../assets/Formatos/Formato de Punto de INFORMACIÓN.docx" download="Formato de Punto de Información"><button mat-raised-button class="word"><i class="bi bi-file-earmark-word-fill"></i>Word</button></a>
  <a href="../../../../assets/Pdf/Formatos/Formato de Punto de INFORMACIÓN.pdf" download="Formato de Punto de Información"><button mat-raised-button class="pdf"><i class="bi bi-filetype-pdf"></i>Pdf</button></a>
</mat-dialog-actions>