<div class="container-modal">
  <div class="row">
    <mat-card class="memo" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="memoimg"></div>
        <mat-card-title  class="mm">Memorando</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Img/memorandum.jpg"  class="imgmemos" style="width: 100%; height: 100%;">
      <mat-card-actions>
        <button mat-raised-button (click)="openMemo('0ms','0ms')" class="memos"><i class="bi bi-download"></i>Descargar</button>
      </mat-card-actions>
    </mat-card>


    <mat-card class="memo" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="memoimg"></div>
        <mat-card-title class="of">Oficio</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Img/abogado-de-oficio.jpg"  class="imgmemos">
      <mat-card-actions>
        <button mat-raised-button (click)="openOficio('0ms','0ms')" class="memos"><i class="bi bi-download"></i>Descargar</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="memo" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="memoimg"></div>
        <mat-card-title class="it">Instructivo</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Img/instructivo.png"  class="imgmemos" style="width: 100%; height: 100%;">
      <mat-card-actions>
        <button mat-raised-button (click)="openInstructivo('0ms','0ms')" class="memos"><i class="bi bi-download"></i>Descargar</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="memo" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="memoimg"></div>
        <mat-card-title class="mt">Minuta</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Img/Minuta.jpg"  class="imgmemos">
      <mat-card-actions>
        <button mat-raised-button (click)="openMinuta('0ms','0ms')" class="memos"><i class="bi bi-download"></i>Descargar</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="memo" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="memoimg"></div>
        <mat-card-title class="pc">Punto de Cuenta</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Img/Interna-760x420-1.jpg"  class="imgmemos" style="width: 100%; height: 100%;">
      <mat-card-actions>
        <button mat-raised-button (click)="openPunto('0ms','0ms')" class="memos"><i class="bi bi-download"></i>Descargar</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="memo" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="memoimg"></div>
        <mat-card-title class="comititle">Informe Final De Comision</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Img/informe final.png" alt="" class="imgmemos" style="width: 100%; height: 100%;">
        <mat-card-actions>
          <button mat-raised-button (click)="openComision('0ms','0ms')" class="memos"><i class="bi bi-download"></i>Descargar</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="memo" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="memoimg"></div>
        <mat-card-title class="ii">Informe Interno</mat-card-title>
      </mat-card-header>
      <img mat-card-image  src="../../../assets/Img/Estadosfinancieros-scaled.jpg" alt="" class="imgmemos">
      <mat-card-actions>
        <button mat-raised-button (click)="openInterno('0ms','0ms')" class="memos"><i class="bi bi-download"></i>Descargar</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="memo" appearance="outlined">
      <mat-card-header>
        <div class="memoimg" mat-card-avatar ></div>
        <mat-card-title class="ac"> Acta de Entrega</mat-card-title>
      </mat-card-header>
      <img src="../../../assets/Img/modelo-de-acta.jpg" alt="" mat-card-image class="imgmemos" style="height: 100%; width: 100%;">
      <mat-card-actions>
        <button mat-raised-button (click)="openEntrega('0ms','0ms')" class="memos"><i class="bi bi-download"></i>Descargar</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="memo" appearance="outlined">
      <mat-card-header>
        <div class="memoimg" mat-card-avatar></div>
        <mat-card-title class="pi">Punto de Información</mat-card-title>
      </mat-card-header>
      <img src="../../../assets/Img/np_foto1_punto_informacion_UJA.jpg" alt="" mat-card-image class="imgmemos">
      <mat-card-actions>
        <button mat-raised-button (click)="openInforme('0ms', '0ms')" class="memos"><i class="bi bi-download"></i>Descargar</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="memo" appearance="outlined">
      <mat-card-header>
        <div class="memoimg" mat-card-avatar></div>
        <mat-card-title class="cd">Punto de Cuenta al Consejo Directivo</mat-card-title>
      </mat-card-header>
      <img src="../../../assets/Img/consejo directivo.jpg" alt="" class="imgmemos" mat-card-image style="height: 100%; width: 100%;">
      <mat-card-actions>
        <button mat-raised-button (click)="openConsejo('0ms', '0ms')" class="memos"><i class="bi bi-download"></i>Descargar</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>