<div class="container-modal">
  <div class="row">
    <mat-card class="memo" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="memoimg"></div>
        <mat-card-title>Memorandum</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Img/memorandum-2.webp">
      <mat-card-actions>
        <button mat-raised-button (click)="openMemo('0ms','0ms')" class="memos"><i class="bi bi-download"></i>Descargar</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>