<div class="container-modal">
  <div class="row">
    <mat-card class="memo" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="memoimg"></div>
        <mat-card-title>Memorando</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Img/memorandum-2.webp"  class="imgmemos">
      <mat-card-actions>
        <button mat-raised-button (click)="openMemo('0ms','0ms')" class="memos"><i class="bi bi-download"></i>Descargar</button>
      </mat-card-actions>
    </mat-card>


    <mat-card class="memo" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="memoimg"></div>
        <mat-card-title>Oficio</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Img/memorandum-2.webp"  class="imgmemos">
      <mat-card-actions>
        <button mat-raised-button (click)="openOficio('0ms','0ms')" class="memos"><i class="bi bi-download"></i>Descargar</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="memo" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="memoimg"></div>
        <mat-card-title>Instructivo</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Img/memorandum-2.webp"  class="imgmemos">
      <mat-card-actions>
        <button mat-raised-button (click)="openInstructivo('0ms','0ms')" class="memos"><i class="bi bi-download"></i>Descargar</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="memo" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="memoimg"></div>
        <mat-card-title>Minuta</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Img/memorandum-2.webp"  class="imgmemos">
      <mat-card-actions>
        <button mat-raised-button (click)="openMinuta('0ms','0ms')" class="memos"><i class="bi bi-download"></i>Descargar</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="memo" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="memoimg"></div>
        <mat-card-title>Punto de Cuenta</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Img/memorandum-2.webp"  class="imgmemos">
      <mat-card-actions>
        <button mat-raised-button (click)="openPunto('0ms','0ms')" class="memos"><i class="bi bi-download"></i>Descargar</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="memo" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="memoimg"></div>
        <mat-card-title class="comititle">Informe Final De Comision</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Img/memorandum-2.webp" alt="" class="imgmemos">
        <mat-card-actions>
          <button mat-raised-button (click)="openComision('0ms','0ms')" class="memos"><i class="bi bi-download"></i>Descargar</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="memo" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="memoimg"></div>
        <mat-card-title>Informe Interno</mat-card-title>
      </mat-card-header>
      <img mat-card-image  src="../../../assets/Img/memorandum-2.webp" alt="" class="imgmemos">
      <mat-card-actions>
        <button mat-raised-button (click)="openInterno('0ms','0ms')" class="memos"><i class="bi bi-download"></i>Descargar</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="memo" appearance="outlined">
      <mat-card-header>
        <div class="memoimg" mat-card-avatar ></div>
        <mat-card-title> Acta de Entrega</mat-card-title>
      </mat-card-header>
      <img src="../../../assets/Img/memorandum-2.webp" alt="" mat-card-image class="imgmemos">
      <mat-card-actions>
        <button mat-raised-button (click)="openEntrega('0ms','0ms')" class="memos"><i class="bi bi-download"></i>Descargar</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="memo" appearance="outlined">
      <mat-card-header>
        <div class="memoimg" mat-card-avatar></div>
        <mat-card-title class="pi">Punto de Información</mat-card-title>
      </mat-card-header>
      <img src="../../../assets/Img/memorandum-2.webp" alt="" mat-card-image class="imgmemos">
      <mat-card-actions>
        <button mat-raised-button (click)="openInforme('0ms', '0ms')" class="memos"><i class="bi bi-download"></i>Descargar</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="memo" appearance="outlined">
      <mat-card-header>
        <div class="memoimg" mat-card-avatar></div>
        <mat-card-title class="cd">Punto de Cuenta al Consejo Directivo</mat-card-title>
      </mat-card-header>
      <img src="../../../assets/Img/memorandum-2.webp" alt="" class="imgmemos" mat-card-image>
      <mat-card-actions>
        <button mat-raised-button (click)="openConsejo('0ms', '0ms')" class="memos"><i class="bi bi-download"></i>Descargar</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>