.memo{
    max-width: 300px;
    margin-left: 50px;
    margin-top: 30px;
}

mat-card{
    
    border-radius: 16px;
    
}

.memoimg{
    background-image: url('../../../assets/Img/JJJ.png');
    background-size: cover;
    
  }

.memos{
    margin-left: 65px;
}

.bi{
    margin-right: 12px;
}

.container-modal{
    margin: 20px 240px 25px 180px;
    align-items: center;
    
}

.cd{
    font-size: 15px;
}

.pi{
    margin-top: 13px;
    font-size: 17px;
}

