.memo{
    max-width: 300px;
    margin-left: 50px;
    margin-top: 30px;
}

mat-card{
    
    border-radius: 16px;
    
}

.memoimg{
    background-image: url('../../../assets/Img/JJJ.png');
    background-size: cover;
    
  }

.memos{
    margin-left: 65px;
}

.bi{
    margin-right: 12px;
}