<h2 mat-dialog-title class="titulo">Descargar Informe final de Comisión</h2>
<mat-dialog-actions>
 <button mat-button mat-dialog-close cdkFocusInitial class="cierre"><i class="bi bi-x-circle"></i></button> 
</mat-dialog-actions>
<mat-dialog-content class="caja-text">
  Formatos de descarga
</mat-dialog-content>
<mat-dialog-actions>
  <a href="../../../../assets/Formatos/Informe de Final de Comision de Servicio.doc" download="Formato de Informe de Final de Comision" class="Word"><button mat-raised-button ><i class="bi bi-file-earmark-word-fill"></i>Word</button></a>
  <a href="../../../../assets/Pdf/Formatos/Informe de Final de Comision de Servicio.pdf" download="Formato de Informe de Final de Comision" class="pdf"><button mat-raised-button><i class="bi bi-filetype-pdf"></i>PDF</button></a>
</mat-dialog-actions>
