<mat-toolbar>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <button  (click)="gotoHome()" class="toolbarbutton">Fona</button> 
                    <button class="toolbarbutton1" (click)="gotoEstructura()" mat-button>Estructura Organizativa</button>
                    <button class="toolbarbutton2" (click)="gotoRRHH()" mat-button>Recursos Humanos</button> 
                    <button class="toolbarbutton3" (click)="gotoFasmij()" mat-button>Fasmij</button> 
                    <button class="toolbarbutton4" (click)="gotoPhone()" mat-button>Telefonos</button> 
                    <button class="toolbarbutton5" (click)="gotoForms()" mat-button>Formatos</button>
                </ul>
            </div>
        </div>
    </div>
</mat-toolbar>

<app-modal></app-modal>

<footer class="footer">
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <ul class="social-icon">
      <li class="social-icon__item"><a class="social-icon__link" href="https://www.facebook.com/FONAoficial">
        <i class="bi bi-facebook"></i>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="https://twitter.com/FONA_oficial">
        <i class="bi bi-twitter"></i>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="https://www.instagram.com/fona_oficial/">
        <i class="bi bi-instagram"></i>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="https://www.youtube.com/@fondonacionalantidrogas4837">
        <i class="bi bi-youtube"></i>
        </a></li>
    </ul>
  </footer> 
