.titulo{
    display: flow;
    padding-left: 15px;
    width: 320px;
    font-size: smaller;
}

.cierre{
    margin-left: auto;
    margin-top: -127px;
}

.caja-text{
    margin-top: -65px;
}

.pdf{
    margin-left: 15px;
}