<div class="container-modal-fasmij">
    <div class="row">
        <mat-card class="memo" appearance="outlined">
            <mat-card-header>
              <div mat-card-avatar class="memoimg"></div>
              <mat-card-title  class="mm">Memorando</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Img/memorandum-2.webp"  class="imgmemos">
            <mat-card-actions>
              <button mat-raised-button  class="memos"><i class="bi bi-download"></i>Descargar</button>
            </mat-card-actions>
          </mat-card>
      
          <mat-card class="memo" appearance="outlined">
            <mat-card-header>
              <div mat-card-avatar class="memoimg"></div>
              <mat-card-title  class="mm">Memorando</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Img/memorandum-2.webp"  class="imgmemos">
            <mat-card-actions>
              <button mat-raised-button  class="memos"><i class="bi bi-download"></i>Descargar</button>
            </mat-card-actions>
          </mat-card>

          <mat-card class="memo" appearance="outlined">
            <mat-card-header>
              <div mat-card-avatar class="memoimg"></div>
              <mat-card-title  class="mm">Memorando</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Img/memorandum-2.webp"  class="imgmemos">
            <mat-card-actions>
              <button mat-raised-button  class="memos"><i class="bi bi-download"></i>Descargar</button>
            </mat-card-actions>
          </mat-card>
          
          <mat-card class="memo" appearance="outlined">
            <mat-card-header>
              <div mat-card-avatar class="memoimg"></div>
              <mat-card-title  class="mm">Memorando</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Img/memorandum-2.webp"  class="imgmemos">
            <mat-card-actions>
              <button mat-raised-button  class="memos"><i class="bi bi-download"></i>Descargar</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>
