.memo{
    max-width: 300px;
    margin-left: 50px;
    margin-top: 30px;
}

mat-card{
    
    
    border-radius: 16px;
    
}

.memoimg{
    background-image: url('../../../assets/Img/JJJ.png');
    background-size: cover;
    
  }

.memos{
    margin-left: 65px;
}

.ss{
    font-size: 15px;
    margin-left: 15px;
    
}

.sss{
    font-size: 16px;
    margin-left: 15px;
    margin-top: 10px;
}

i{
    margin-right: 10px;
}

.row{
    margin-left: 500px;
}