<div class="container-modal-fasmij">
    <div class="row" style=" margin-right: 0px;">
        <mat-card class="memo" appearance="outlined">
            <mat-card-header>
              <div mat-card-avatar class="memoimg"></div>
              <mat-card-title  class="ss">Solicitud de Suscripcion</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Img/hombre-firmando-contrato_79405-11256.avif"  class="imgmemos">
            <mat-card-actions>
              <a href="../../../assets/fasmij/Planilla de Suscripción FASMIJ 2023.pdf" download="Solicitud de Suscripcion.pdf" class="pdf" style="margin-left: 65px;"><button mat-raised-button><i class="bi bi-filetype-pdf"></i>Descargar</button></a>
            </mat-card-actions>
          </mat-card>
      
          <mat-card class="memo" appearance="outlined">
            <mat-card-header>
              <div mat-card-avatar class="memoimg"></div>
              <mat-card-title  class="sss">Solicitud de Servicio</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Img/que-significa-follow-up.jpg"  class="imgmemos" style="height: 100%; width: 100%;">
            <mat-card-actions>
              <a href="../../../assets/fasmij/Orden de Servicio.pdf" download="Solicitud de Servicio.pdf" class="pdf" style="margin-left: 65px;"><button mat-raised-button><i class="bi bi-filetype-pdf"></i>Descargar</button></a>
            </mat-card-actions>
          </mat-card>

          
          
    </div>
</div>
