<mat-toolbar>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <button  (click)="gotoHome()" class="toolbarbutton">Fona</button> 
                    <button class="toolbarbutton1" (click)="gotoEstructura()" mat-button>Estructura Organizativa</button>
                    <button class="toolbarbutton2" (click)="gotoRRHH()" mat-button>Recursos Humanos</button> 
                    <button class="toolbarbutton3" (click)="gotoFasmij()" mat-button>Fasmij</button> 
                    <button class="toolbarbutton4" (click)="gotoPhone()" mat-button>Telefonos</button> 
                    <button class="toolbarbutton5" (click)="gotoForms()" mat-button>Formatos</button>
                </ul>
            </div>
        </div>
    </div>
</mat-toolbar>

<app-modals></app-modals>