<body>
    <mat-toolbar>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <button  (click)="gotoHome()" class="toolbarbutton" mat-button>Fona</button>
                        <button class="toolbarbutton1" (click)="gotoEstructura()" mat-button>Estructura Organizativa</button>
                        <button class="toolbarbutton2" (click)="gotoRRHH()" mat-button>Recursos Humanos</button>
                        <button class="toolbarbutton3" (click)="gotoFasmij()" mat-button>Fasmij</button>
                        <button class="toolbarbutton4" (click)="gotoPhone()" mat-button>Telefonos</button>
                        <button class="toolbarbutton5" (click)="gotoForms()" mat-button>Formatos</button>
                    </ul>
                </div>
            </div>
        </div>
    </mat-toolbar>



    <div class="container-box">
        <div class="box">
            <a href="https://192.168.5.3/"><img src="../../assets/Img/Zimbra.png" alt=""></a>
        </div>
        <div class="box">
           <a href="http://192.168.6.4/sigh2024/"><img src="../../assets/Img/Sigh 2024.png" alt=""></a>
        </div>
        <div class="box">
           <a href="http://192.168.5.25/correspondencia/"><img src="../../assets/Img/Correspondecia.png" alt=""></a>
        </div>
        <div class="box">
            <a href="http://192.168.6.14/sigesp2023/inicio.html"><img src="../../assets/Img/Sigesp2023.png" alt=""></a>
        </div>
        <div class="box">
            <a href="http://192.168.6.15/sigesp2024/inicio.html"><img src="../../assets/Img/Sigesp 2024.png" alt=""></a>
        </div>
        <div class="box">
           <a href="192.168.6.18/app/#/admin-recosup"><img src="../../assets/Img/Recosup.png" alt=""></a>
        </div>
        <div class="box">
          <a href="http://192.168.6.77:8000"><img src="../../assets/Img/SGFONA.png" alt=""></a>
        </div>
    </div>


    <div class="container-flex">
      <!-- <a class="twitter-timeline" data-width="350" data-height="350" data-dnt="true" href="https://twitter.com/FONA_oficial?ref_src=twsrc%5Etfw">Tweets by FONA_oficial</a>  -->
      <mat-card class="card-best">
            <mat-card-header>
              <div mat-card-avatar class="card-best-header-image"></div>
              <mat-card-title>Fondo Nacional Antidrogas</mat-card-title>
              <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/Fondo/Bienvenidos.gif" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p class="text">
                Podra ver <strong>nuestra nueva pagina web</strong>, con una vista mas moderna al estilo minimalista.
                <br>
                <strong>!Sientase libre de verla¡</strong>
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a href="https://www.fona.gob.ve/"><button mat-raised-button>Ir a Pagina Web</button></a>
            </mat-card-actions>
          </mat-card>
    </div>






    <footer class="footer">
        <div class="waves">
          <div class="wave" id="wave1"></div>
          <div class="wave" id="wave2"></div>
          <div class="wave" id="wave3"></div>
          <div class="wave" id="wave4"></div>
        </div>
        <ul class="social-icon">
          <li class="social-icon__item"><a class="social-icon__link" href="https://www.facebook.com/FONAoficial">
            <i class="bi bi-facebook"></i>
            </a></li>
          <li class="social-icon__item"><a class="social-icon__link" href="https://x.com/FONA_oficial?t=wmu98HEofXcQENHT6nr6LA&s=08">
            <i class="bi bi-twitter-x"></i>
            </a></li>
          <li class="social-icon__item"><a class="social-icon__link" href="https://www.instagram.com/fona_oficial/">
            <i class="bi bi-instagram"></i>
            </a></li>
          <li class="social-icon__item"><a class="social-icon__link" href="https://www.youtube.com/@fondonacionalantidrogas4837">
            <i class="bi bi-youtube"></i>
            </a></li>
            <li class="social-icon__item"><a class="social-icon__link" href="https://www.threads.net/@fona_oficial">
              <i class="bi bi-threads"></i>
              </a></li>
        </ul>
      </footer>
</body>
